.sitename{
    font-size: 2rem;
    font-weight: bold;
}
.header{
    background-color: rgb(6, 22, 94);
}
.link{
    text-decoration: inherit;
    display: block;
    color: white;
    margin: 5px;
    padding: 5px;
    font-size: 1.3rem;
    text-align: center;
}
.link:hover{
    background-color: rgb(15, 53, 53);
    border-radius: 4px;
    color:wheat;
}

